/* Global Styles */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Outfit', sans-serif;
    background-color: #ffffff;
    color: #333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
    background-color: #505CFA;
    color: white;
  }

  .headerRight img{
    height: 31px;
  }

/* Titles */
h1 {
    color: #505CFA;
    font-size: 2.5em;
    margin-top: 20px;
}

h2 {
    color: #469CFA;
    font-size: 2em;
    margin-bottom: 20px;
}

/* Carousel Container */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 21%;
    margin: auto;
    overflow: hidden;
}

/* Carousel */
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

/* Cards */
.card {
    background: #ffffff;
    border-radius: 10px;
    padding: 15px;
    margin: auto;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: auto;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
}

/* Initially Hide All Cards */
.card {
    display: none;
    opacity: 0;
}

/* Show the active card */
.card.active {
    display: block;
    opacity: 1;
}

.cardImg img {
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: none;
    box-shadow: 2px 2px 8px;
}

/* Card Info */
.cardInfo {
    padding: 10px;
}

.cardTitle {
    font-size: 1.4em;
    color: #505CFA;
    margin-bottom: 10px;
}

.info {
    font-size: 1em;
    color: #333;
    margin-bottom: 10px;
}

/* Buttons */
.cardButton {
    display: block;
    text-decoration: none;
    background-color: #469CFA;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background 0.3s;
}

.cardButton:hover {
    background-color: #505CFA;
}

/* Carousel Buttons */
.carousel-btn {
    background-color: rgba(80, 92, 250, 0.3);
    color: white;
    border: none;
    font-size: 2em;
    cursor: pointer;
    border-radius: 50%;
    padding: 10px;
    transition: 0.3s;
}

.carousel-btn:hover {
    background-color: #505CFA;
    transform: scale(1.1);
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 10px 20px;
    background-color: #FADB8D;
    color: #505CFA;
    margin-top: 60px;
  }

/* Responsive */
@media (max-width: 768px) {
    .carousel-container {
        width: 95%;
    }

    .card {
        min-width: 280px;
    }

    .carousel-btn {
        font-size: 1.5em;
        padding: 8px;
    }
}
